<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container"> 2018 &copy; PPCA by TIC LEADERS, of LEADERS GROUP.
        <a href="" title="" target="_blank">Tic Leaders</a>
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->